*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #B0C4D8;
    color: black;
}

/*NAVIGATION*/
.navigation-container{
    display: flex;             /* Affiche les éléments en ligne */
  justify-content: flex-end; /* Aligne la navigation à droite */
  background-color: #284E7B; /* Couleur de fond de la barre */
  padding: 1rem; 
}





.h1 {
    color: #cb4e5c;
}

.film {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.film h2 {
    margin-top: 0;
}

