

body {
  font-family: 'Poppins', sans-serif;
  color: white; /* Couleur du texte */
  min-height: 100vh; /* Hauteur minimum couvrant tout l'écran */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0;
}

header {
  width: 100%;
  background-color: #cb4e5c; /* Couleur d'arrière-plan, modifiable */
  padding: 10px 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 6rem; /* Ajustez la hauteur selon vos besoins */
}

.title {
  flex: 1; /* Permet au titre de prendre l'espace restant */
  text-align: center;
  color: #fff;
  font-family: 'poppin', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title a {
  text-decoration: none;
  color: #ffffff; /* Couleur du texte */
  font-size: 2rem; /* Taille du texte, ajustable */
  font-weight: bold;
  text-align: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Espacement entre les liens */
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #e2818c; /* Couleur des liens */
  font-size: 16px;
}

li {
  float: left;
}

li a {
  display: flex;
  align-items: center;
  color:#ecbdc3 ;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: white;
}



.carousel-img {
  width: 100%; /* La largeur des images s'adapte au conteneur */
  height: 500px; /* Définissez une hauteur fixe */
  object-fit: cover; /* Adapte l'image pour remplir le conteneur sans distorsion */
  background-color: #000; 
}

.item {
  height: 500px; /* Correspond à la hauteur des images */
  display: flex; /* Pour centrer verticalement les images si elles sont plus petites */
  justify-content: center; /* Centre horizontalement l'image */
  align-items: center; /* Centre verticalement l'image */
  overflow: hidden;
}

.section {
  padding: 15px 0;
  margin-top: 70px; /* Ajoute un espace entre le carousel et la section */
  background: #cc4e5d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  margin-bottom: 50px; /* Ajoute un espace sous le carousel */
}

.boxed {
  max-width: 1280px;
  margin-inline: auto;
}

.flex {
  display: flex;
  justify-content: center; /* Centre les éléments enfants horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  flex-wrap: wrap; /* Permet de s'adapter si les éléments débordent */
}

.w40, .w60 {
  padding: 10px; /* Ajoute de l'espace intérieur */
}

.w40 h2 {
  text-align: center; /* Centre le titre */
  font-size: 5rem;
  margin-bottom: 20px; /* Ajoute de l'espace sous le titre */
}

.w60 p {
  text-align: justify; /* Justifie le texte */
  font-size: 2.5rem;
  line-height: 1.8em; /* Espace entre les lignes */
  margin: 0; /* Retire les marges inutiles */
}

.pink {
  background: #ecbdc3;
  color: #cc4e5d;
}

.margin-bottom {
  margin-bottom: 100px;
}
