

 

  

    /* Conteneur global pour élargir la page */
    container {
      max-width: 1200px; /* Ajustez cette valeur pour agrandir */
      margin: 0 auto; /* Centrer la page */
      padding: 0 15px; /* Espace sur les bords */
    }
    
    background-custom {
      background-color: #ecbdc3; ; /* AliceBlue, remplacez par votre couleur */
      color: white; /* Couleur du texte, ajustez si nécessaire */
      min-height: 100vh; /* Assurez-vous que la hauteur couvre tout l'écran */
      margin: 0; /* Supprime les marges par défaut */
      padding: 0;
    }

   
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc4e5d;
    display: flex;
    align-items: center;
  }
  
  li {
    float: left;
  }

  li a {
    display: flex;
    align-items: center;
    color:#ecbdc3 ;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
  }
  li a:hover {
    background-color: white;
  }
  navbar-logo {
    width: 30px;  /* Réduit la taille du logo */
    height: auto; /* Ajuste la hauteur automatiquement */
    margin-right: 10px;
    object-fit: contain;
  }

      /* Optional: You can add padding to the first 'li' to space out the logo */
      li:first-child {
        padding-left: 20px;
      }

    .carousel-img {
        width: 100%; /* La largeur des images s'adapte au conteneur */
        height: 500px; /* Définissez une hauteur fixe */
        object-fit: cover; /* Adapte l'image pour remplir le conteneur sans distorsion */
    }
  .item {
      height: 500px; /* Correspond à la hauteur des images */
    }
    .section.violet {
      padding: 20px 0;
      background: #cc4e5d;
      margin-top: 50px;

  }
  
  
  .flex {
      display: flex;
  }
  
  .gap20 {
      gap: 70px;
  }
  
  .Logo-img {
   height: 20; 
   margin-left: -10px;
   margin-bottom: 0;

}





